<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>

      <!-- 
<add name="databaseosw" connectionString="server=localhost;user id=root; password=root; database=lv_sia;persist security info=true;CharSet=utf8;default command timeout=0;" />
<add name="databaseoswreport" connectionString="XpoProvider=MySql;server=localhost;user id=root; password=root; database=lv_sia;persist security info=true;CharSet=utf8;default command timeout=0;" />
-->
<!-- http://192.168.1.121/installer/ -->
      
      <!-- -->
      <add name="databaseosw" connectionString="server=192.168.1.121;user id=oswuser; password=omahsoftware123user; database=lv_sia; port=3306;persist security info=true;CharSet=utf8;" />
      <add name="databaseoswreport" connectionString="XpoProvider=MySql;server=192.168.1.121;user id=oswuser; password=omahsoftware123user; port=3306; database=lv_sia;persist security info=true;CharSet=utf8;" />

    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.9.0" newVersion="6.9.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
