<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>

      <!-- 
<add name="database" connectionString="server=localhost;user id=root; password=; database=sumif_kontenu;persist security info=true;CharSet=utf8;default command timeout=0;" />
<add name="databasereport" connectionString="XpoProvider=MySql;server=localhost;user id=root; password=; database=sumif_kontenu;persist security info=true;CharSet=utf8;default command timeout=0;" />
-->
      
<!-- https://labs.sumif.id/kontenu/ -->
      
      <!-- -->
      <add name="database" connectionString="server=sumif.id;user id=desktop; password=ZJR1SqFQ4c6sYcTGqwXO; database=sumif_kontenu; port=3306;persist security info=true;CharSet=utf8;" />
      <add name="databasereport" connectionString="XpoProvider=MySql;server=sumif.id;user id=desktop; password=ZJR1SqFQ4c6sYcTGqwXO; port=3306; database=sumif_kontenu;persist security info=true;CharSet=utf8;" />


    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.9.0" newVersion="6.9.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
